// Estilos para el encabezado
header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #b29f94, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .navbar {
        text-align: right;
        padding: 10px 40px 0 0;
        margin-bottom: 20%;
        font-size: 16px;
      &.bg-propio {
        background-color: rgba(0, 0, 0, 0.87);
      }
    }
  // Estilos para la sección del logo

.nav-logo {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
  
  .logos {
    text-align: center;
  }

  .logos img {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover {
    .logos img {
      opacity: 1;
    }
   }
}
    
    // Estilos para el texto del encabezado
    .textHeader {
        height: 100px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        color: white;
      h1 {
        font-size: 70px;
        font-style: oblique;
        margin-bottom: 5%;
      }
    }
    
    // Estilos para la onda
    .wave {
        bottom: 0%;
        height: 100px;
        overflow: hidden;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
      
      svg {
        width: 50%;
      }
    }
}

// Estilos para section

main {
    section.container.my-2 {
        display: flex;
    
      .row {
        display: flex;
    
        .col-md-3 {
          h2.titulo {
            font-style: italic;
            font-size: 50px;
          }
        }
    
        .col-md-5 {
    
          img.img-fluid {
            display: flex;
          }
        }
    
        .col-md-4.us-propio {
    
          p {
            color: #000;
            font-size: medium;
            text-align: right;
          }
        }
      }
    }
    
    section.container.text-center.tx-propio {
    
      h1 {
        font-style: italic;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 50px;
        color: #000;
      }
    
      .row {
        margin-bottom: 20px;
    
        .col.align-self-start.md-4 {
    
          h2.titulo {
            font-style: oblique;
          }
    
          img.img-fluid.mb-4 {
            width: fit-content;
          }
    
          p.text-center {
            font-size: small;
          }
        }
    
        .col.align-self-center.md-4 {
    
          h2.titulo {
            font-style: oblique;
          }
    
          img.img-fluid {
            width: fit-content;
          }
    
          p.text-center {
            font-size: small;
          }
        }
    
        .col.align-self-end.md-4 {
    
          h2.titulo {
            font-style: oblique;
          }
    
          img.img-fluid.mb-2 {
            width: fit-content;
          }
    
          p.text-center {
            font-size: small;
          }
        }
      }
    }
  }
  
// Estilos para el pie de página
footer {
    background-color: rgba(0, 0, 0, 0.87);
    
    .container {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: large;
        font: bold;
    }

    @import "_mixins.scss";
    h5 {
      @include oblique-x-large-10 ;
    }
    
    // Estilos para el texto del pie de página
    p {
      font-size: medium;
    }
}

// Estilos para Productos

#carouselProductos {
    .carousel-indicators {
      button {
        &.active {
          background-color: #000;
        }
      }
    }
}
.container {
    .row {
      display: flex;
      justify-content: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
      .col-md-4 {
        &.bg-producto1 {
          background-color: #885e36;
        }
        
        &.bg-producto2 {
          background-color: #c08f62;
        }
        
        &.bg-producto3 {
          background-color: #e4b68c;
        }
        
        h2 {
          color: #000000;
          font-size: 35px;
          font-weight: bold;
          margin-top: 20px;
          font-style: italic;
        }
        
        p {
          color: #ffffff;
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 20px;
        }
      }
    }
  }
  
// Estilos para la sección Nosotros
.contenedor-us {
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    .titulo {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      font-style: oblique;
    }
    
    .procesos {
      display: flex;
      justify-content: center;
      
      .proceso {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        
        .imagen-us {
          width: 200px;
          height: auto;
          margin-right: 20px;
        }
        
        .contenido-texto-proceso {
          h4 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            font-style: oblique;
            text-align: center;
          }
          
          p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
            text-align: right;
          }
        }
      }
    }
  }
  
// Estilos para la sección "Nuestra gente"
  .contenedor-us:nth-child(2) {
    padding: 20px;
    
    .titulo {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      font-style: oblique;
    }
    
    .procesos {
      display: flex;
      justify-content: center;
      
      .proceso {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        
        .imagen-us {
          width: 200px;
          height: auto;
          margin-right: 20px;
        }
        
        .contenido-texto-proceso {
          h4 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
          }
          
          p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
            text-align: right;
          }
        }
      }
    }
  }
  
// Estilos para la sección "¿De dónde nace Franchy?"
.contenedor-nuestra-historia {
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    .titulo {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      font-style: oblique;
    }
    
    .contenedor-nuestra-historia {
      display: flex;
      align-items: center;
      
      img.img-fluid {
        width: 300px;
        height: auto;
        margin-right: 20px;
      }
      
      .contenido-texto {
        p {
          font-size: 16px;
          margin-bottom: 10px;
          text-align: right;
        }
      }
    }
  }
  
// Estilos para la sección "Nuestros valores"
  .contenedor-nuestra-historia:nth-child(2) {
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    .titulo {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      font-style: oblique;
    }
    
    .contenedor-nuestra-historia {
      display: flex;
      align-items: center;
      
      .imagen-historia2 {
        width: 300px;
        height: auto;
        margin-right: 20px;
      }
      
      .contenido-texto {
        p {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 10px;
        }
      }
    }
  }
  
// Estilos para formulario de contacto
.contenedor-form {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .info-form {
      h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
      }
      
      p {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-style: oblique;
      }
      
      form {
        input.campo {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        
        textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        
        input[type="submit"] {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #b3700d70;
          color: #0a0a0a;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          margin-bottom: 5%;
        }
      }
    }
}
  